cepsBaseUrl: http://localhost:8080/ceps/api/v1
odsBaseUrl: http://localhost:8080/ods/api/v1

gcmApiKey: GCM_API_KEY
gcmGarbageCollectorPeriod: 3600000

eventGarbageCollectorPeriod: 3600000
eventGarbageCollectorMaxAge: 3600000

couchDb:
  url: http://localhost:5984/
  username: ADMIN_USERNAME
  password: ADMIN_PASSWORD
  dbPrefix: ceps

server:
  applicationContextPath: /ceps/api/v1
